/* GENERAL STYLES*/
:root {
  --main-color: #212121;
  --accent-color: #2196f3;
  --description-color: #757575;
  --link-color: #ffffff;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
.link {
  text-decoration: none;
}
body {
  background-color: var(--link-color);
  font-family: "Roboto", sans-serif;
}
/*reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.button {
  color: var(--link-color);
  background-color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  
}
.button:hover,
.button:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--link-color);
}
.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  }
/* HEADER */
.line{
  border-bottom: 1px solid #ECECEC;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}
.logo-header{
  margin-right: 93px;
}
.first-part {
  color: var(--accent-color);
}
.last-part {
  color: var(--main-color);
}
.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  position: relative;
}
.header-mail-link,
.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--description-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-container{
  display: flex;
  align-items: center;
  
}
.header-nav{
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-nav-item:not(:last-child){
  margin-right:50px;
}
.nav-list{
display: flex;
align-items: center;
transition-property: background-color;
}
.header-mail-link{
  margin-right: 50px;
}
.header-group{
  display: flex;
  align-items: center;
}
.header-nav-item, .link{
  padding: 24px 0px 25px 0px;
}
.small-icon{
  fill: var(--description-color);
margin-right: 10px;

}

.header-mail-link:hover,
.header-mail-link:focus {
  color: var(--accent-color);
}
.small-icon {
  fill: currentColor;
}
.header-nav-link.current{
  color: var(--accent-color);
}
.header-nav-link.current::after{
content: "";
position: absolute;
bottom:-8px;
left: 0;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--accent-color);
}
/* HERO */
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/main.jpg");
  background-color: #C4C4C4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px 0 200px 0;
}
.hero-main{
  text-align: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--link-color);
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.btn-primary {
  border: none;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  letter-spacing: 0.06em;
}
/* ABOUT */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about{
  padding: 94px 0px;
}
.about-us-box{
  background: #F5F4FA;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 25px 100px;
  margin-bottom: 30px;
}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us{
  gap: 30px;
  display: flex;

}
.about-us-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  width: 270px;
  text-align: left;
  margin-bottom: 10px;
}
.about-us-first {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--description-color);
  width: 270px;
  text-align: left;
}
/* WHAT */
.title-first {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}
.list{
  display: flex;
  gap: 30px;
  
}
.what{
padding-bottom: 94px;
}
.what-item {
  position: relative;
}
.overlay-box{
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}
.overlay-text{
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-color);
  text-transform: uppercase;
  margin-top: 27px;
}
/* TEAM */
.team {
  background-color: #f5f4fa;
  padding: 94px 0px;
}
.team-item{
  display: flex;
  gap: 30px;
}
.box-item {
  background: var(--link-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.name-item {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding-top: 30px;
  margin-bottom: 10px;
  
}
.workers-item {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-color);
  margin-bottom: 16px;
  
}
.social-list {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  background-color: var(--link-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus{
  color: var(--link-color);
  background-color: var(--accent-color);
}
.social-icons{
  fill: currentColor;
}
/*CLIENTS*/
.clients{
  padding-top: 94px;
  padding-bottom:94px ;
}
.clients-list{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.clients-link{
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color:#AFB1B8 ;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus{
  border-color: var(--accent-color);
  color:var(--accent-color) ;
}
.clients-icon{
  fill: currentColor;
}
/* FOOTER */
.footer-main{
  display: flex;
  align-items: baseline;
}
.footer-first{
margin-right: 70px;
}
.footer-block {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-btn{
  display: inline-flex;
  gap: 8px;
  align-items: center;
  border: none;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  letter-spacing: 0.06em;
}
.footer-last-part {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--link-color);
}
.footer-maps-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--link-color);
}
.footer-mail-link,
.footer-tel-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--description-color);
}
.footer-email{
  margin-bottom: 9px;
}
.footer-address {
  font-style: normal;
  margin-top: 20px;
}
.footer-address-item{
  margin-bottom: 9px;
}
.footer-list {
  gap: 9px;
}
.logo-footer{
  text-decoration: none;
}
.social-link-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--link-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover,
.social-link-footer:focus {
  color: var(--link-color);
  background-color: var(--accent-color);
}
.footer-title{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--link-color);
}
.footer-input-subscription {
  height: 50px;
  width: 358px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    padding: 15px 16px;
}

/*Modal window*/
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  z-index: idx: backdrop 1000px;

  width: 100%;
  height: 100%;

  background-color:rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity 150ms linear, visibility 150ms linear;
}
.modal{
  position: absolute;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 4px;
  background-color: var(--link-color);
  padding: 40px;
}
.close-btn{
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.close-btn:hover,
.close-btn:focus{
  fill: var(--accent-color);
}
.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-text{
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23/20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);

  display: flex;
  justify-content: center;
  align-items: center;
}
label{
  display: flex;
  margin-bottom: 4px;
  position: relative;
}

.form-field{
  position: relative;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--description-color);
  padding-top: 4px;
}
.form-input{
  padding-left: 40px;
  display: flex;
  height: 40px;
  left: 576px;
  top: 314px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-input:focus{
  outline: var(--accent-color) solid 1px;
}
.form-input:focus ~ .form-icons{
fill: var(--accent-color);
cursor: pointer;
}
.form-message:focus{
outline: var(--accent-color) solid 1px;
}
.footer-form{
  display: flex;
}
.form-label{
  margin-bottom: 4px;
}
.form-icons{
  position: absolute;

  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 30px 0px 11px 12px;
}
.form-agreement{
display: flex;
justify-content: center;
align-items: center;
gap: 7px;
margin-bottom: 30px;
}
.comment{
  margin-bottom: 20px;
}
.form-message{
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: var(--accent-color);
}
.form-message::placeholder{
font-weight: 400;
font-size: 12px;
line-height: calc(14/12);
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}
.form-checkbox:checked{
  background-image: url("data:image/svg+xml,%3Csymbol id='icon-Vector' viewBox='0 0 42 32'%3E%3Cpath fill='%23fff' style='fill: var(--color1, %23fff); stroke: var(--color1, %23fff)' stroke='%23fff' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' stroke-width='0.64' d='M6.263 15.205l-0.22-0.21-3.307 3.132 11.651 11.114 24.477-23.351-3.285-3.134-21.192 20.197-8.124-7.75z'%3E%3C/path%3E%3C/symbol%3E");
  background-color: var(--accent-color);
  border-color: transparent;
  border-radius: 2px;
}
.form-checkbox{
  width: 16px;
  height: 16px;

  border: 2px solid var(--main-color);
  border-radius: 2px;
  cursor: pointer;
}
.form-agreement-text{
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  color: var(--description-color);
}
.form-text-agreement{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}
.form-agreement-link{
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}
.form-btn{
display: block;
margin: 0 auto;
border: none;
background-color: var(--accent-color);
font-weight: 700;
font-size: 16px;
line-height: 30px;
padding: 10px 32px;
border-radius: 4px;
letter-spacing: 0.06em;


}
/* PORTFOLIO */
.portfolio{
  padding: 94px 0px 94px 0px;
}
.portfolio-list{
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.btn-secondary {
  background-color: #f5f4fa;
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  padding: 6px 22px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  min-width: 73px;
  min-height: 38px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text{
  padding: 20px 24px;
  border: 1px solid #EEEEEE;;
  border-top: none;
}
.pictures-item{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  column-gap: 30px;
}
.container-item{
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.container-footer{
  margin-right: 93px;
}
.container-item:hover,
.container-item:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor:pointer;
}
.portfolio-item {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}
.portfolio-item-first {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--description-color);
}
.footer-input-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--link-color);
  margin-bottom: 20px;
}
.team-thumb{
  position: relative;
  overflow: hidden;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
}
.container-item:hover .overlay{
  transform: translateY(0);
}
.overlay-text-portfolio{
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28/18);
  letter-spacing: 0.03em;
  color: #FFFFFF;
}